body,
header,
section,
footer,
article,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
label,
p,
fieldset,
nav,
ul,
li,
a,
span,
strong,
em {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font: 14px normal Arial;
  color: #ffffff;
  background: -webkit-linear-gradient(#dfb9f9 0%, #9215f2 22%);
  background: -moz-linear-gradient(#dfb9f9 0%, #9215f2 22%);
  background: -o-linear-gradient(#dfb9f9 0%, #9215f2 22%);
  background: linear-gradient(#dfb9f9 0%, #9215f2 22%);
}
body > header {
  padding: 15px 10px 10px 10px;
}
body > header > div {
  margin-top: 25px;
}
body > header > div #logo-container {
  float: left;
  position: relative;
}
body > header > div #reg-form-container {
  float: right;
  margin-right: 120px;
  font-size: 12px;
  position: relative;
}
body > header > div #reg-form-container div {
  text-align: right;
}
body > header > div #reg-form-container div input {
  background: #b35ef3;
  border: 1px solid #000000;
  margin-top: 5px;
  margin-left: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body > header > div #reg-form-container button {
  background: #b35ef3;
  border: 1px solid #000000;
  border-style: outset;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: inherit;
  font-weight: bold;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body > header > div #reg-form-container button:hover {
  background: #781fc7;
  border-style: inset;
}
body > header nav {
  border: 1px solid #000000;
  clear: both;
  margin: 16px;
  padding: 8px;
  width: 70%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body > header nav #main-nav-list > li {
  display: inline-block;
  margin-left: 15px;
}
body > header nav #main-nav-list > li > ul {
  display: none;
  position: absolute;
  background-color: #9215F2;
  border: 1px solid #000000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
}
body > header nav #main-nav-list > li:hover > a + ul {
  display: block;
}
body > header nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
body > header nav a:hover {
  font-weight: bold;
  text-decoration: underline;
}
body > header nav .nav-list {
  list-style-type: none;
}
body > section {
  float: left;
  width: 72%;
  margin-left: 10px;
}
body > section > article {
  border: 1px solid #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 25px 15px 25px 15px;
  margin-bottom: 15px;
  font-size: 12px;
}
body > section > article > header > h1 {
  font-size: 16px;
  padding-bottom: 3px;
}
body > section > article > footer {
  margin-top: 3px;
  text-align: right;
}
body > aside {
  float: right;
  width: 20%;
  margin-right: 70px;
  padding-top: 15px;
  font-size: 12px;
}
body > aside strong,
body > aside em {
  color: #d0a3f7;
}
body > aside > ul > li {
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  list-style-type: none;
  margin-bottom: 15px;
  padding: 15px;
}
body > aside > ul > li > h2 {
  font-size: 14px;
  margin-bottom: 10px;
}
body > aside > ul > li > ul > li {
  list-style-type: none;
  background: url(../images/li-dot.png) no-repeat;
  padding-left: 25px;
}
body > footer {
  clear: both;
  text-align: center;
  font-weight: bold;
  padding: 15px;
}
body a {
  text-decoration: none;
  color: #d0a3f7;
}
body a:hover {
  text-decoration: underline;
}
body time {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}
